# MongoDB Configuration
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/?appName=AppName
MONGODB_DB_NAME=spare-parts-system

# JWT Configuration
JWT_SECRET=your-secret-key-here

# Application Configuration
PORT=3000

# Excel Import Configuration (optional)
MAX_EXCEL_FILE_SIZE=10485760
